/* GLOBAL */

*
{
    padding : 0;
    margin : 0;
    font-family : Ubuntu, Verdana;
}

.clearfix:after
{
    content : "";
    display : table;
    clear : both;
}

ul.index
{
    -webkit-columns : 3 15em;
    -moz-columns : 3 15em;
    columns : 3 15em;
}

/* HEADER */

div.header h1
{
    text-align : center;
    font-variant : small-caps;
    padding-bottom : 2px;
}

div.header div.links div.home
{
    float : left;
    font-size : large;
    font-variant : small-caps;
    padding-left : 1em;
}

div.header div.links div.indices
{
    float : right;
    font-size : small;
    padding-top : 3px;
}

div.header div.links ul
{
    list-style-type : none;
}

div.header div.links li
{
    display : inline;
    margin-right : 1em;
}

div.header a
{
    text-decoration : none;
}


/* CONTENT */

div.content div.section
{
    padding-top : 0.5em;
    padding-bottom : 0.5em;
}

div.content h2
{
    margin-bottom : 4px;
}

div.content h3
{
    margin-top : 1em;
}

div.content a
{
    text-decoration : none;
}

div.content a:hover
{
    text-decoration : underline;
}

div.content ul
{
    list-style-type : none;
}

div.content table
{
    width : 100%;
}

div.content th
{
    font-size : small;
    border-radius : 3px;
    padding : 1px;
}

div.content td
{
    padding : 1px 3px;
}


/* FOOTER */

div.footer
{
    margin-top : 4px;
    margin-bottom : 2px;
    text-align : center;
    font-size : small;
}