h1
{
    background : rgb(60,60,60);
    border-bottom : 10px solid black;
}

ul.links a:hover
{
    color : deepskyblue;
}

table tr
{
    background : whitesmoke;
    background : linear-gradient(white,whitesmoke);
}

table th
{
    background : black;
    background : linear-gradient(rgb(60,60,60),black);
}

table td.count
{
    width : 4em;
    text-align : center;
}

/* A hack to force nested lists to indent correctly */
ul li ul li
{
    padding-left: 1em;
}