
h1
{
    background : cornflowerblue;
}

h2
{
    border-bottom-color : royalblue;
}

ul.links
{
    background : royalblue;
}

ul.links a:hover
{
    color : deepskyblue;
}

table tr
{
    background : aliceblue;
    background : linear-gradient(white,aliceblue);
}

table th
{
    background : royalblue;
    background : linear-gradient(cornflowerblue,royalblue);
}
