*
{
    padding : 0;
    margin : 0;
    font-family : Ubuntu, Verdana;
}

h1
{
    text-align : center;
    font-variant : small-caps;
    color : white;
}

h2
{
    border-bottom : thin solid gray;
    border-bottom-width : 3px;
    border-bottom-style : solid;
    margin : 1em 0 0 0;
}

h3
{
    margin : 1em 0 0 0;
}

body
{
    background : rgb(230,230,230);
}

div.content
{
    background : white;
    padding : 1em;
    width : 980px;
    margin : auto;
}

a
{
    text-decoration : none;
}

a:hover
{
    text-decoration : underline;
}

ul
{
    list-style-type : none;
}

ul.results li
{
    display : inline;
    margin-right : 1em;
}

table th
{
    color : white;
    padding : 1px 5px;
    border-radius : 3px;
}

table td
{
    padding : 1px 3px;
}

span.drop
{
    color : forestgreen;
}

span.add
{
    color : firebrick;
}

span.converted
{
    font-style : italic;
}

span.same
{
    color : darkviolet;
}

span.new
{
    color : blue;
/*     color : orange; */
}

div.footer
{
    text-align : center;
    font-size : small;
}

.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}
