
table
{
    width : 100%;
}

td.event, td.standard
{
    text-align : left;
}

td.session, td.place
{
    text-align : center;
}

td.points, td.time, td.improvement
{
    text-align : right;
}

td.event
{
    width : 40%;
}

td.session,
td.place,
td.points,
td.time,
td.standard,
td.improvement
{
    width : 10%;
}

table.counts td.count
{
    width : 30%;
}

table.counts td.standard
{
    width : 40%;
}